header{
    background-color: #000000ff;
    color: #ff00aaff;
}

body{
    margin-left: 0px;

    margin-right: 0px;

    margin-top: 0px;

    margin-bottom: 0px;
    background-color: #00aaffff;
    color: #aaffffff;
}



main{
    color: #000000ff;
    background-color: #ffd
}
